.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 250px;
    background-color: #625ac4;
    width: 800px;
    border-radius: 15px;

}

.results{
    padding: 60px 60px;
    color: white;
    font-size: 32px;
    text-align: center;

}
